 @import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
     font-family: 'Poppins', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
 }

 header {
     background-color: rgb(0, 0, 0);
     width: 100%;
     position: fixed;
     z-index: 999;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 200px;
 }

 .logo {
     text-decoration: none;
     color: rgb(255, 255, 255);
     text-transform: uppercase;
     font-weight: 700;
     font-size: 1.8em;
 }

 .navigatoin a {
     color: rgb(255, 255, 255);
     text-decoration: none;
     padding-left: 10px;
     font-size: 1.1em;
     font-weight: 500;
     text-transform: capitalize;
     padding-left: 30px;
 }

 .navigatoin a:hover {
     color: rgb(147, 146, 147);
 }

 section {
     padding: 100px 200px;
 }

 .main {
     min-height: 100vh;
     width: 100%;
     display: flex;
     align-items: center;
     background: url(images/photo_2023-05-05_10-25-00.jpg) no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
 }

 .main h2 {
     font-size: 1.4em;
     font-weight: 500;
     color: rgb(0, 0, 0);
     text-transform: capitalize;

 }

 .main h2 span {
     display: inline-block;
     margin-top: 10px;
     color: black;
     font-size: 3em;
     font: weight 600;
 }

 .main h3 {
     font-weight: 700;
     font-size: 2em;
     text-transform: capitalize;
     letter-spacing: 1px;
     margin-top: 10px;
     margin-bottom: 30px;
 }

 .main-btn {
     text-decoration: none;
     background-color: rgb(215, 215, 215);
     color: rgb(0, 0, 0);
     font-size: 1.1em;
     font-weight: 600;
     display: inline-block;
     padding: 0.9375em 2.1875em;
     letter-spacing: 1px;
     border-radius: 15px;
     margin-bottom: 10px;
     transition: 0.7s ease;
 }

 .main-btn:hover {
     transform: scale(1.1);
 }

 .social a {
     color: rgb(255, 255, 255);
     font-size: 1.7em;
     padding-right: 30px;
 }

 .serve {
     display: flex;
     justify-content: center;
     font-size: 2.2em;
     font-weight: 800;
     margin-bottom: 30px;
 }

 .content {
     display: flex;
     justify-content: center;
     flex-direction: row;
     flex-wrap: wrap;
 }

 .card {
     background-color: rgb(215, 215, 215);
     width: 21.25em;
     box-shadow: 0 5px 25px rgba(0 0 0 /25%);
     border-radius: 10px;
     padding: 25px;
     margin: 15px;
     transition: 0.7s ease;
 }

 .card:hover {
     transform: scale(1.1);
 }

 .icon {
     color: rgb(0, 0, 0);
     text-align: center;
     font-size: 8em;
 }

 .infor {
     text-align: center;
 }

 .infor h3,
 p {
     font-size: 1.2em;
     font-weight: 700;
     margin: 10px;
     color: rgb(0, 0, 0);
 }

 .projects {
     background-color: rgb(215, 215, 215);
 }

 .projects .content {
     margin-top: 30px;
 }

 .pro_card {
     border-radius: 10px;
     background-color: rgb(179, 178, 178);
     border: 1px solid rgb(255, 255, 255);
     min-height: 14em;
     width: 23em;
     overflow: hidden;
     margin: 20px;
     transition: 0.7s ease;
 }

 .pro_card:hover .pro_image {
     opacity: 0.9;
 }

 .pro_card:hover {
     transform: scale(1.1);
 }

 .pro_image img {
     width: 100%;
 }

 .pro_info {
     padding: 1em;
 }

 .pro_team {
     font-size: 0.8em;
     color: black;
 }

 .pro_title {
     display: flex;
     justify-content: space-between;
     text-transform: uppercase;
     font-weight: 800;
     margin-top: 10px;
 }

 .details {
     text-decoration: none;
     color: rgb(44, 44, 198);
 }

 .details:hover {
     color: rgb(147, 146, 147);
 }

 .cards_contact .icon {
     font-size: 4.5em;
 }

 .cards_contact .infor p {
     font-size: 1em;
 }

 .footer {
     background-color: black;
     color: white;
     padding: 1em;
     display: flex;
     justify-content: space-between;
 }

 .footer_title {
     color: white;
     font-size: 1.3em;
     font-weight: 600;
 }

 .footer_title span:hover {
     color: rgb(147, 146, 147);
 }

 .footer .social a {
     font-size: 1.3em;
     padding: 0 12px 0 0;
 }

 @media(max-width:1023px) {
     header {
         padding: 12px 20px;
     }

     .navigatoin a {
         padding-left: 10px;
     }

     .serve {
         font-size: 1.8em;
     }

     section {
         padding: 80px 20px;
     }

     .main h2 {
         font-size: 1em;
     }

     .main h3 {
         font-size: 1.6em;
     }

     .content {
         flex-direction: column;
         align-items: center;
     }

 }

 @media (max-width:414px) {
     body {
         font-size: 12px;
     }

     .main-content h2 {
         font-size: 0.8em;
     }

     .main-content h3 {
         font-size: 1.4em;
     }
 }

 @media (max-width:300px) {
     body {
         font-size: 10px;
     }
 }